<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>1009493391613-cahl9a26nke1kpbu7a21cr8tubp85687.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.1009493391613-cahl9a26nke1kpbu7a21cr8tubp85687</string>
	<key>API_KEY</key>
	<string>AIzaSyDAOg4HpPj_S8LezygGY6LuzOscTRYWPZI</string>
	<key>GCM_SENDER_ID</key>
	<string>1009493391613</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.graspery.flutterapp</string>
	<key>PROJECT_ID</key>
	<string>herkyasks</string>
	<key>STORAGE_BUCKET</key>
	<string>herkyasks.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:1009493391613:ios:9ea693413f5d33c199e694</string>
	<key>DATABASE_URL</key>
	<string>https://herkyasks.firebaseio.com</string>
</dict>
</plist>